/* 
 * Login and Register pages.
 */

.login-container {
    color: var(--dracula-white);
    padding: 3% 5%;
    box-shadow: 0 0 40px var(--deep-black);
    height: 85%;
    min-width: 600px;
    overflow: auto;
    display: flex;
}

.login-container > section {
    margin: auto;
}

.login-container > section > h1 {
    font-size: 1.8em;
}

.login-container > section > form {
    text-align: left;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}

.login-container > section > form input {
    margin-bottom: 1em;
    width: 100%;
}

.login-container > section > form > div {
    display: flex;
}

.login-container > section > form > div.login-footer-links {
    display: display;
    justify-content: space-between;
    line-height: 1.5em;
}

.login-container > section > form > div.name-surname > input:last-of-type {
    margin-left: 1em;
}

.login-container > section > form > button {
    width: 100%;
    min-width: 430px;
    padding: 3% 4%;
    display: block;
}

.login-container > section > form > button.encourage {
    background-color: var(--dracula-purple-darker-1);
    color: var(--dracula-white);
    margin: 1em auto 1.5em;
}

.login-container > section > form > button.sneaky {
    color: var(--dracula-purple);
    text-decoration: underline;
}

.login-container > section > form > button {
    transition: 250ms;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--dracula-grey);
}

.login-container > section > form > button.encourage:hover {
    background-color: var(--dracula-purple-darker-2);
}

.login-container > section > form > button.encourage:active {
    background-color: var(--dracula-purple-darker-3);
}

.login-container > section > form > button.sneaky:hover {
    background-color: var(--dracula-grey);
    color: var(--dracula-white);
    text-decoration: none;
}

.login-container > section > form > input,
.login-container > section > form > .password-container > input,
.login-container > section > form > .email-container > input,
.login-container > section > form > .name-surname > input,
.login-container > section > form > .pw-code-container > input,
.overlay .input-container > input {
    background-color: var(--dracula-black);
    color: var(--dracula-white);
    padding: 3% 4%;
    border-radius: 5px;
}

.login-container > section > form > .pw-code-container > input {
    text-align: center;
}

.login-container > section > h1::after, .title-end::after {
    background-color: var(--dracula-grey);
    height: 1px;
    display: block;
    content: "";
}

.login-container > section > h1::after {
    margin: 5px 0px;
}

.login-container > section > form > .checkbox-container {
    display: flex;
    align-items: center;
}

.login-container > section > form > .checkbox-container > input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--dracula-grey-lighter);
    border-radius: 3px;
    margin: 3% 2% 3% 0;
    position: relative;
    cursor: pointer;
}

.login-container > section > form > .checkbox-container > input[type="checkbox"]:checked {
    background-color: var(--dracula-purple);
    border-color: var(--dracula-purple);
}

.login-container > section > form > .checkbox-container > input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 4px;
    width: 6px;
    height: 10px;
    border: solid var(--dracula-black);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.login-container > section > form > .checkbox-container > label {
    cursor: pointer;
}

.login-container > section > .title-form {
    text-align: center;
}

.login-container > section > form ::placeholder {
    color: var(--dracula-grey-lighter-lighter);
}

.login-container > section > form > .password-container,
.login-container > section > form > .email-container,
.login-container > section > form > .name-surname,
.overlay .input-container {
    position: relative;
}

.login-container > section > form > .password-container > .password-input,
.login-container > section > form > .email-container > .email-input,
.login-container > section > form > .name-surname > .name-surname-input,
.login-container > section > form > .pw-code-container > .pw-code-input,
.overlay .input-container > .generic-input {
    width: 100%;
    padding-left: calc(1.8% + 34px);
    box-sizing: border-box;
    border: var(--dracula-grey-lighter) 1px solid;
}

.login-container > section > form > .pw-code-container > .pw-code-input {
    padding-left: 0;
    padding-right: 0;
}

.login-container > section > form > .password-container > .password-input,
.overlay .input-container > .password-input {
    padding-right: 80px;
}

.login-container > section > form > .password-container > .toggle-password,
.overlay .input-container > .toggle-password {
    position: absolute;
    right: 10px;
    border: none;
    background: var(--dracula-grey-lighter);
    cursor: pointer;
    margin: 2.5% 0;
    height: 24px;
    width: 60px;
}

.login-container > section > form > .password-container > .toggle-password:hover, 
.overlay .input-container > .toggle-password:hover {
    background: var(--dracula-grey-lighter-lighter);
}

.login-container > section > form > .password-container > .password-descriptor,
.login-container > section > form > .email-container > .email-descriptor,
.login-container > section > form > .name-surname > .name-descriptor,
.login-container > section > form > .name-surname > .surname-descriptor,
.overlay .input-container > .descriptor {
    position: absolute;
    border: none;
    background: none;
    color: var(--dracula-grey-lighter-lighter);
    margin-top: 2%;
    margin-left: 1%;
    cursor: default;
}

.overlay .input-container > .descriptor {
    display: block;
    top: 0;
}

.login-container > section > form > .name-surname > .surname-descriptor {
    margin-left: 53%;
}

.login-container > section > form > .email-container > .email-descriptor {
    margin-top: 2.5%;
}

.login-container > section > form > .password-container > .password-descriptor > img,
.login-container > section > form > .email-container > .email-descriptor > img,
.login-container > section > form > .name-surname > .user-descriptor > img,
.overlay .input-container > .descriptor > img {
    width: 24px;
    height: 24px;
} 

.login-container > section > form > p {
    margin-bottom: 2em;
}

/* 
 * Terms of service page.
 */

.tos-container {
    color: var(--dracula-white);
    padding: 3% 5%;
    height: calc(100vh - var(--titlebar-height));
    min-width: 450px;
    overflow: auto;
    display: flex;
}

.tos-container > section {
    margin: auto;
}

.tos-container > section > h1 {
    font-size: 2.5em;
    margin-top: 1em;
}

.tos-container > section > h2 { 
    font-size: 1.7em;
    margin-top: 2em;
    margin-bottom: .6em;
}

.tos-container > section > p, 
.tos-container > section > .contact-us {
    padding: 0 2% 0 2%;
    color: var(--dracula-grey-lighter-lighter);
}

.tos-container > section > .contact-us > p {
   margin: 0; 
}

.tos-container > section > .in {
    color: var(--dracula-grey-lighter-lighter);
}

.tos-container > section > p > .in {
    padding: 0 2% 0 2%;
}

.tos-container > section > p::after {
    margin-bottom: 1em;
}

.tos-container > section > ol {
    list-style: decimal;
    padding: 0 3.4% 0 3.4%;
    color: var(--dracula-grey-lighter-lighter);
}

.tos-container > section > .in > ol {
    list-style: decimal;
    padding: 0 5.4% 0 5.4%;
}

.tos-container > section li,
.tos-nav-container > section li {
    margin-bottom: 0.5em;
}

.tos-nav-container {
    color: var(--dracula-grey-lighter-lighter);
    height: calc(100vh - var(--titlebar-height));
    display: flex;
    overflow: auto;
    min-width: 220px;
}

.tos-nav-container > section {
    margin: auto 5%;
}

.tos-nav-container > section > h2 {
    text-align: center;
    color: var(--dracula-white);
}

.tos-nav-container > section li {
    list-style: bullet;
    margin-bottom: 0.7em;
}

/*.tos-nav-container > section li a {*/
/*    text-decoration: none;*/
/*}*/

.login-container .recaptcha-container {
    align-items: center;
    margin-bottom: 2em;
}

.login-container .recaptcha-container > .recaptcha-checkbox {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    margin-left: -290px;
}

.login-container .recaptcha-container > .recaptcha-checkbox > .recaptcha-spinner {
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #4285f4;
    border-radius: 50%;
    position: absolute;
    animation: spin 1s linear infinite;
    display: none;
}

.login-container .recaptcha-container > .recaptcha-checkbox > .recaptcha-checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.login-container .recaptcha-container > .recaptcha-checkbox > .recaptcha-checkmark svg {
    fill: #34a853;
    width: 32px;
    height: 32px;
}

.login-container .recaptcha-container > .recaptcha-checkbox > .recaptcha-label {
    margin-left: 10px;
    font-size: 16px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tos-container > section .tos-highlighted {
    border-radius: 3px;
    display: inline;
    animation: fadeInOutColor 2s forwards;
}

@keyframes fadeInOutColor {
    0% {
        background-color: transparent;
    }
    25% {
        background-color: var(--dracula-red-opaque);
    }
    75% {
        background-color: var(--dracula-red-opaque);
    }
    100% {
        background-color: transparent;
    }
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.popup .show {
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

