/* 
 * Login and Register pages.
 */

.login-container {
    color: var(--dracula-white);
    padding: 3% 5%;
    box-shadow: 0 0 40px var(--deep-black);
    height: 85%;
    min-width: 600px;
    overflow: auto;
    display: flex;
}

.login-container > section {
    margin: auto;
}

.login-container > section > h1 {
    font-size: 1.8em;
}

.login-container > section > form {
    text-align: left;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}

.login-container > section > form input {
    margin-bottom: 1em;
    width: 100%;
}

.login-container > section > form > div {
    display: flex;
}

.login-container > section > form > div.login-footer-links {
    display: unset;
    line-height: 1.5em;
}

.login-container > section > form > div.name-surname > input:last-of-type {
    margin-left: 1em;
}

.login-container > section > form > button {
    width: 100%;
    min-width: 430px;
    padding: 3% 4%;
    display: block;
}

.login-container > section > form > button.encourage {
    background-color: var(--dracula-purple-darker-2);
    color: var(--dracula-white);
    margin: 1em auto 1.5em;
}

.login-container > section > form > button.sneaky {
    color: var(--dracula-purple);
    text-decoration: underline;
}

.login-container > section > form > button {
    transition: 250ms;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--dracula-grey);
}

.login-container > section > form > button:hover.encourage {
    background-color: var(--dracula-purple-darker-3);
}

.login-container > section > form > button:hover.sneaky {
    background-color: var(--dracula-grey);
    color: var(--dracula-white);
    text-decoration: none;
}

.login-container > section > form > input,
.login-container > section > form > .password-container > input,
.login-container > section > form > .email-container > input,
.login-container > section > form > .name-surname > input {
    background-color: var(--dracula-black);
    color: var(--dracula-white);
    padding: 3% 4%;
    border-radius: 5px;
}

.login-container > section > h1::after, .title-end::after {
    background-color: var(--dracula-grey);
    height: 1px;
    display: block;
    content: "";
}

.login-container > section > h1::after {
    margin: 5px 0px;
}

.login-container > section > form > .checkbox-container {
    display: flex;
    align-items: center;
}

.login-container > section > form > .checkbox-container > input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--dracula-grey-lighter);
    border-radius: 3px;
    margin: 3% 2% 3% 0;
    position: relative;
    cursor: pointer;
}

.login-container > section > form > .checkbox-container > input[type="checkbox"]:checked {
    background-color: var(--dracula-purple);
    border-color: var(--dracula-purple);
}

.login-container > section > form > .checkbox-container > input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 6px;
    height: 10px;
    border: solid var(--dracula-black);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.login-container > section > form > .checkbox-container > label {
    cursor: pointer;
}

.login-container > section > .title-form {
    text-align: center;
}

.login-container > section > form ::placeholder {
    color: var(--dracula-grey-lighter-lighter);
}

.login-container > section > form > .password-container,
.login-container > section > form > .email-container,
.login-container > section > form > .name-surname {
    position: relative;
}

.login-container > section > form > .password-container > .password-input,
.login-container > section > form > .email-container > .email-input,
.login-container > section > form > .name-surname > .name-surname-input {
    width: 100%;
    padding-left: 34px;
    box-sizing: border-box;
    border: var(--dracula-grey-lighter) 1px solid;
}

.login-container > section > form > .password-container > .password-input {
    padding-right: 80px;
}

.login-container > section > form > .password-container > .toggle-password {
    position: absolute;
    right: 10px;
    border: none;
    background: var(--dracula-grey-lighter);
    cursor: pointer;
    margin: 2.5% 0;
    height: 24px;
    width: 60px;
}

.login-container > section > form > .password-container > .toggle-password:hover {
    background: var(--dracula-grey-lighter-lighter);
}

.login-container > section > form > .password-container > .password-descriptor,
.login-container > section > form > .email-container > .email-descriptor,
.login-container > section > form > .name-surname > .name-descriptor,
.login-container > section > form > .name-surname > .surname-descriptor {
    position: absolute;
    border: none;
    background: none;
    color: var(--dracula-grey-lighter-lighter);
    cursor: pointer;
    margin-top: 2%;
    cursor: default;
}

.login-container > section > form > .name-surname > .surname-descriptor {
    margin-left: 52%;
}

.login-container > section > form > .email-container > .email-descriptor {
    margin-top: 2.5%;
}

.login-container > section > form > .password-container > .password-descriptor > img,
.login-container > section > form > .email-container > .email-descriptor > img,
.login-container > section > form > .name-surname > .user-descriptor > img {
    width: 24px;
    height: 24px;
} 

/* todo remove */
#password-repeat {
    border: var(--dracula-red) 1px solid;
}

/* 
 * Terms of service page.
 */

.tos-container {
    color: var(--dracula-white);
    padding: 3% 5%;
    height: calc(100vh - var(--titlebar-height));
    min-width: 450px;
    overflow: auto;
    display: flex;
}

.tos-container > section {
    margin: auto;
}

.tos-container > section > h1 {
    font-size: 2.5em;
    margin-top: 1em;
}

.tos-container > section > h2 { 
    font-size: 1.7em;
    margin-top: 2em;
    margin-bottom: .6em;
}

.tos-container > section > p, .tos-container > section > address {
    padding: 0 2% 0 2%;
    color: var(--dracula-grey-lighter-lighter);
}

.tos-container > section > .in {
    color: var(--dracula-grey-lighter-lighter);
}

.tos-container > section > p > .in {
    padding: 0 2% 0 2%;
}

.tos-container > section > p::after {
    margin-bottom: 1em;
}

.tos-container > section > ol {
    list-style: decimal;
    padding: 0 3.4% 0 3.4%;
    color: var(--dracula-grey-lighter-lighter);
}

.tos-container > section > .in > ol {
    list-style: decimal;
    padding: 0 5.4% 0 5.4%;
}
