<component name="application-toolbar">
    <header>
        <div class="titlebar">

            <img id="logo" src="../../resources/assets/logo.png" alt="Logo">

            <div class="titlebar-buttons">
                <button id="button-settings" class="alive-button">
                    <img class="filter-white" src="../../resources/assets/icons/settings.svg">
                </button>
            </div>

            <div class="titlebar-spacer">
            </div>

            <div class="titlebar-buttons">
                <button id="button-goback" class="alive-button">
                    <img class="filter-white" src="../../resources/assets/icons/arrow-left.svg">
                </button>
                <button id="button-goforward" class="alive-button">
                    <img class="filter-white" src="../../resources/assets/icons/arrow-right.svg">
                </button>
            </div>

            <div class="titlebar-search">
                <input type="text" id="search-bar" placeholder="Search...">
            </div>

            <div class="titlebar-buttons">
                <button id="button-reload" class="alive-button">
                    <img class="filter-white" src="../../resources/assets/icons/reload.svg">
                </button>
            </div>

            <div class="titlebar-spacer">
            </div>

            <div class="titlebar-buttons">
                <button id="button-minimize" class="alive-button">
                    <img class="filter-white" src="../../resources/assets/icons/minus.svg">
                </button>
                <button id="button-fullscreen" class="alive-button">
                    <img class="filter-white" src="../../resources/assets/icons/fullscreen.svg">
                </button>
                <button id="button-close" class="alive-button">
                    <img class="filter-white" src="../../resources/assets/icons/close.svg">
                </button>
            </div>

        </div>
        <script src="../scripts/toolbar.js"></script>
    </header>
</component>