<component name="application-toolbar">
    <header>
        <div class="titlebar">

            <img id="logo" src="./assets/logo.png" alt="Logo">

            <div class="titlebar-buttons">
                <button id="button-settings">
                    <img class="filter-white" src="./assets/icons/settings.svg">
                </button>
            </div>

            <div class="titlebar-spacer">
            </div>

            <div class="titlebar-buttons">
                <button id="button-goback">
                    <img class="filter-white" src="./assets/icons/arrow-left.svg">
                </button>
                <button id="button-goforward">
                    <img class="filter-white" src="./assets/icons/arrow-right.svg">
                </button>
            </div>

            <div class="titlebar-search">
                <input type="text" id="search-bar" placeholder="Search...">
            </div>

            <div class="titlebar-buttons">
                <button id="button-reload">
                    <img class="filter-white" src="./assets/icons/reload.svg">
                </button>
            </div>

            <div class="titlebar-spacer">
            </div>

            <div class="titlebar-buttons">
                <button id="button-minimize">
                    <img class="filter-white" src="./assets/icons/minus.svg">
                </button>
                <button id="button-fullscreen">
                    <img class="filter-white" src="./assets/icons/fullscreen.svg">
                </button>
                <button id="button-close">
                    <img class="filter-white" src="./assets/icons/close.svg">
                </button>
            </div>

        </div>
        <script src="../dist/scripts/toolbar.js"></script>
    </header>
</component>